<!DOCTYPE html>
<html>
<head>
  <title>Formulaire de Contact</title>
</head>
<body>
  <h1>Contactez-nous</h1>
  <form action="/contact" method="post">
    <label for="nom">Nom :</label><br>
    <input type="text" id="nom" name="nom"><br><br>

    <label for="email">Email :</label><br>
    <input type="email" id="email" name="email"><br><br>

    <label for="message">Message :</label><br>
    <textarea id="message" name="message"></textarea><br><br>

    <button type="submit">Envoyer</button>
  </form>
</body>
</html>
